<div class="mt-5">
	<div class="col-md-8">
		<%= form_for @artist do |f| %>
		<div class="form-group">
			<%= f.label :アーティスト名 %>
			<%= f.text_field :artist_name, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :アーティスト情報 %>
			<%= f.text_field :artist_info, class: "form-control"%>
		</div>
		<div class="form-group">
			<%= f.label :ジャンル %>
			<%= f.text_field :genre_name, class: "form-control"%>
		</div>
		<div class="form-group">
			<%= f.label :レーベル %>
			<%= f.text_field :label_name, class: "form-control"%>
		</div>
		<%= f.submit "編集する", class: "btn btn-info mt-5" %>
		<% end %>
	</div>
</div>
</div>
<div class="text-right">
	<%=link_to "戻る", admintop_path ,class: "back"%>
</div>