<h1 class="mt-5">アーティスト情報</h1>
<div class="mt-2">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">アーティスト名</th>
        <th scope="col">情報</th>
        <th scope="col">ジャンル名</th>
        <th scope="col">レーベル名</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="info">
          <%= @artist.try(:artist_name) %>
        </th>
        <td>
          <%= @artist.try(:artist_info) %>
        </td>
        <td>
          <%= @artist.try(:genre_name)%>
        </td>
        <td>
          <%= @artist.try(:label_name)%>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="mt-5">
    <% if @items.present? %>
    <% @items.each do |item| %>
    <div class="panel panel-success">
      <div class="panel-heading">
        <%= link_to item_path(item) do %>
        <%= item.item_name %>
        <% end %>
      </div>
      <div class="panel-body">
        <% if item.image.present? %>
        <%= image_tag  item.image.thumb.url, size: "100x100"%>
        <% else %>
        <%= image_tag "no-image.png", size: "100x100" %>
        <% end %>
      </div>
      <div class="panel-body">
        アーティスト名:
        <%= item.artist_name %>
      </div>
      <div class="panel-body">
        情報:
        <%= item.item_info %>
      </div>
      <div class="panel-body">
        価格:
        <%= item.price %>円
      </div>
      <div class="panel-body">
        <% if item.stock >= 1 %>
        <td>
          在庫:
          <%= item.stock %>枚
        </td>
        <% else %>
        <p class="shinagire">
          品切れ中
        </p>
        <% end %>
      </div>
      <% if item.on? %>
      <%= render "items/form", cart_item: @cart_item, item: item %>
      <% end %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>