<div class="login">
<div class="login2">
          <h2>Log in</h2>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
          <%= f.label :email, {class: 'moji'} %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "box" %>
          </div>

          <div class="field">
          <%= f.label :password, {class: 'moji'} %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "box" %>
          </div>

          <% if devise_mapping.rememberable? -%>
          <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, {class: 'moji'} %>
          </div>
          <% end %>

          <div id="botan" class="actions">
          <%= f.submit "Log in" %>
          </div>
          <% end %>
<%= render "users/shared/links" %>
</div>
</div>