<div style="margin-top: 120px">
<div class="container">
  <div class="col-md-8 col-md-offset-2">



<h3 class="mb-2">新規登録</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %><br />
    <%= f.password_field :パスワード, autocomplete: "new-password",class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :パスワード確認 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class: "form-control"%>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" ,class: "btn btn-primary"%>
  </div>
<% end %>

<%= render "admins/shared/links" %>
</div>
</div>
</div>