<div class="mt-5">
	<%= form_for @genre, url: admins_genre_path, method: :patch do |f| %>

		<div class="form-group">
			<%=f.label :ジャンル名 %>
			<%= f.text_field :genre_name %>
		</div>
	<%= f.submit "作成する", class: "btn btn-info mt-5" %>
  <% end %>
     </div> 	
</div>
<div class="text-right">
	<%=link_to "戻る", admintop_path ,class: "back"%>
	<%=link_to "削除",  admins_genre_path, method: :delete,class: "back"%>
</div>

