<div class="nested-fields">
  <div class="field">
    <%= f.label :ship %>
    <br />
    <%= f.text_field :ship %>
  </div>
  <div class="field">
    <%= f.label :zip %>
    <br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <br />
    <%= f.text_field :phone %>
  </div>
  <%= link_to_remove_association "削除", f %>
</div>