<div class="container">
  <h1 class="mt-5">プロフィール編集</h1>
  <div class="mt-2">
          <%= form_for @user do |f| %>
          <td><%= f.text_field :first_name, autofocus: true, placeholder:"名前"%></td>
          <td><%= f.text_field :last_name, autofocus: true, placeholder:"苗字"%></td>
          <td><%= f.text_field :email, autofocus: true, placeholder:"Email" %></td>
          <%= f.fields_for :addresses do |s| %>
          <div class="form-group">
           <%= s.label :住所 %>
           <%= s.text_field :ship %>
           <%= s.label :電話 %>
           <%= s.text_field :phone %>
           <%= s.label :郵便番号 %>
           <%= s.text_field :zip %>
         </div>
         <% end %>
         <%= f.submit "変更を保存", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
   <% end %>
 </div>
</div>
</div>
