<h1 class="mt-5">顧客情報一覧</h1>
<div class="mt-2">
<% @users.each do |user|%>
	<table class="table table-stripe">
  <tr>
    <th class="info"><%= user.try(:name) %></th>
    <td><%= user.try(:address) %></td>
    <td><%= user.try(:email) %></td>
    <td><%= user.try(:phone) %></td>
    <td><%= user.try(:gender) %></td>
 </tr>
</table>

<% end %>
</div>
<div class="text-right">
	<%=link_to "戻る", admintop_path ,class: "back"%>
</div>

