<div class="mt-5">
	<%= form_for @disc, url: admins_item_discs_path do |f| %>
	<div class="row">
		<div class="form-group col-sm-4">
			<%=f.label :ディスク番号 %>
			<%= f.text_field :disc_order ,class: "form-control"%>
		</div>
	</div>
	<hr/>
		<div class="row">
		<%= f.fields_for :songs do |task| %>
		  <%= render 'song_fields', f: task %>
	  	<% end %>
	  	<div class="links">
          <%= link_to_add_association "追加", f, :songs, partial: 'song_fields' %>
        </div>
	<%= f.submit "作成する", class: "btn btn-info mt-5" %>
  <% end %>	
</div>
</div>
<div class="text-right">
	<%=link_to "戻る", edit_admins_item_path(@item) ,class: "back"%>
</div>



