

<h1 class="mt-5">顧客情報一覧</h1>
<div class="mt-2">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">名前</th>
      <th scope="col">性別</th>
      <th scope="col">メールアドレス</th>
      <th scope="col">住所</th>
      <th scope="col">電話番号</th>
      <th scope="col">郵便番号</th>
    </tr>
  </thead>
   <% @users.each do |user|%>
  <tbody>
    <tr>
      <th scope="row" class="info"> <%= user.try(:name) %></th>
      <td><%= user.try(:gender) %></td>
      <td><%= user.try(:email)%></td>
      <td><%= user.addresses.take.try(:ship) %></td>
      <td><%= user.addresses.take.try(:phone) %></td>
      <td><%= user.addresses.take.try(:zip) %></td>
    </tr>

  </tbody>
  <% end %>
</table>
<div class="text-right">
	<%=link_to "戻る", admintop_path ,class: "back"%>
</div>
</div>

