<div class="container">
	<ul>
		<li><%= link_to "アーティスト一覧", admins_artists_path%></li>
		<li><%= link_to "ジャンル一覧", "#" %></li>
		<li><%= link_to "レーベル一覧",  "#"%></li>
		<li><%= link_to "全注文一覧", "#" %></li>
		<li><%= link_to "発送済みオーダー",  "#"%></li>
		<li><%= link_to "未発送オーダー",  "#"%></li>
	</ul>
</div>