<header link="#ffffff" class="backg">
  <div class="large">
        <div class="navitem-l">
          <%= link_to root_path do %>
            <h2 class="fas fa-headphones music logo">Music</h2>
            <% end %>
            <div class="f-box">
              <%= render 'items/list' %>
            </div>
        </div>

      <div class="navitem-r">
        <ul>
          <% if user_signed_in? %>
            <li class="nav-r">
              <%= link_to "logout", destroy_user_session_path, method: :delete, :style=>"color:white;" %>
            </li>
            <li class= "nav-r">
              <%= link_to "cart", cart_path(current_user.cart) %>
            </li>
            <li class= "nav-r">
              <%= link_to "注文履歴", orders_path %>
            </li>
          <% else %>
            <li class="nav-r">
              <%= link_to "ログイン", new_user_session_path, :style=>"color:white;" %>
            </li>
            <li class="nav-r">
              <%= link_to "sign up", new_user_registration_path, :style=>"color:white;" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    </header>