<div class="mt-5">
	
	<%= form_for @item, url: admins_items_path, method: :post do |a| %>
	<div class="form-group">
		<%= a.label :アーティスト名 %>

		<%= a.text_field :artist_name, list: 'list-name' %>
			<datalist id="list-name">
			 <% Artist.all.each do |artist| %>
  	  	 <option value="<%= artist.artist_name %>">
 	 		 <% end %>
		  </datalist>

	</div>
	<div class="form-group">
		<%= a.label :タイトル %>
		<%= a.text_field :item_name ,class: "form-control"%>
	</div>
	<div class="form-group">
		<%= a.label :情報 %>
		<%= a.text_field :item_info ,class: "form-control"%>
	</div>
	<div class="form-group">
		<%= a.label :価格 %>
		<%= a.text_field :price ,class: "form-control"%>
	</div>
	<div class="form-group">
		<%= a.label :在庫数 %>
		<%= a.text_field :stock ,class: "form-control"%>
	</div>
	<div class="form-group">
		<%= a.label :image %>
		<%= a.file_field :image %>
	</div>
	<%= a.submit "作成する", class: "btn btn-info mt-5" %>
	<% end %>

</div>
<div class="text-right">
	<%=link_to "戻る", admintop_path ,class: "back"%>
</div>