<div class="mt-5">
<div class="panel panel-success">
	<div class="panel-heading">
		アーティスト名:<%= @item.artist_name %>
	</div>
	<div class="panel-body">
		アルバム名:<%= @item.item_name %>
	</div>
	<div class="panel-body">
		情報:<%= @item.item_info %>
	</div>
	<div class="panel-body">
		価格:<%= @item.price %>円
	</div>
	<div class="panel-body">
		在庫:<%= @item.stock %>枚
	</div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">曲順</th>
      <th scope="col">曲名</th>
      <th scope="col">タイム</th>
      <th scope="col">編集</th>
    </tr>
  </thead>
  	<% @disc.songs.each do |song| %>
  	<% unless song.nil? %>
  <tbody>
    <tr>
      <td><%= song.song_order %></td>
      <td><%= song.song_name  %></td>
      <td><%= song.time  %></td>
      <td><%=link_to "編集", edit_admins_item_disc_path(@disc) ,style: "color: #000"%></td>
    </tr>
  </tbody>
<% end %>
  <% end %>
</table>
	

</div>
<div class="text-right">
	<%=link_to "戻る", admintop_path ,class: "back"%>
</div>