<div class="mt-5">
  <div class="col-md-8">
	<%= form_for @artist ,url: admins_artist_path,method: :patch do |f| %>
		<div class="form-group">
			<%= f.label :アーティスト名 %>
			<%= f.text_field :artist_name, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :アーティスト情報 %>
			<%= f.text_field :artist_info, class: "form-control"%>
		</div>
		<div class="form-group">
			<%= f.label :ジャンル %>
			<%= f.collection_select :genre_id, Genre.all, :id, :genre_name ,:include_blank => true %>
		</div>
		<div class="form-group">
			<%= f.label :レーベル %>
			<%= f.collection_select :label_id, Label.all, :id, :label_name, :include_blank => true %>
		</div>
	<%= f.submit "編集する", class: "btn btn-info mt-5" %>
  <% end %>
     </div> 
     </div>	
</div>
<div class="text-right">
	<%=link_to "戻る", admintop_path ,class: "back"%>
	<%=link_to "削除", admins_artist_path,method: :delete ,class: "back"%>
</div>
