<div class="mt-5">
<%= form_for @disc, url: item_discs_path, method: :patch do |f| %>

		<div class="form-group">
			<%=f.label :ディスク番号 %>
			<%= f.text_field :disc_order %>
		</div>
		<hr/>
		<div class="col-sm-8">
		<%= f.fields_for :songs do |s| %>
				<div class="form-group">
			      <%=s.label :曲順 %>
				   <%= s.text_field :song_order %>
				  <%=s.label :曲名 %>
			   	  <%= s.text_field :song_name %>
			   	  <%=s.label :タイム %>
			   	 <%= s.text_field :time %>
		   	   </div>
	  	<% end %>
	<%= f.submit "作成する", class: "btn btn-info mt-5" %>
  <% end %>
     </div> 	
</div>



