<div class="mt-5">
	
	<%= form_for @artist, url: item_path, method: :patch do |f| %>
	<div class="form-group">
		<%= f.label :アーティスト %>
		<%= f.text_field :artist_name ,class: "form-control"%>
		<%= f.label :アーティスト情報 %>
		<%= f.text_field :artist_info ,class: "form-control"%>
	</div>

	<%= fields_for @item do |a| %>
		<div class="form-group">
			<%= a.label :タイトル %>
			<%= a.text_field :item_title ,class: "form-control"%>
		</div>
		<div class="form-group">
			<%= a.label :情報 %>
			<%= a.text_field :item_info ,class: "form-control"%>
		</div>
		<div class="form-group">
			<%= a.label :価格 %>
			<%= a.text_field :price ,class: "form-control"%>
		</div>
		<div class="form-group">
			<%= a.label :在庫数 %>
			<%= a.text_field :stock ,class: "form-control"%>
		</div>
		<% end %>
	<%= f.submit "作成する", class: "btn btn-info mt-5" %>
  <% end %>

</div>
<div class="text-right">
	<%=link_to "戻る", admintop_path ,class: "back"%>
</div>