<%= link_to "管理者へ", admintop_path,class: "btn btn-info ml" %>


<div class="container">


 <h1 class="mt-5">商品一覧</h1>
  <div class="mt-2">
     <table class="table table-hover">
     <thead>
      <tr>
        <th scope="col">画像</th>
        <th scope="col">アーティスト名</th>
        <th scope="col">タイトル</th>
        <th scope="col">情報</th>
        <th scope="col">価格</th>
        <th scope="col">在庫</th>
        <th scope="col">
           カートに入れる</th>
      </tr>
    </thead>
    <% @items.each do |item|%>
    <tbody>
      <tr>
        <% if item.image.present? %>
            <td> <%= link_to item_path(item.id) do %>
              <%= image_tag item.image.thumb.url,size: "200x200" %> <% end %></td>
          <% else %>
            <td> <%= image_tag "no-image.png",size: "200x200" %></td>
          <% end %>
         <td>
              <%= item.try(:artist_name) %>
          </td>
          <td><%= item.try(:item_name) %></td>
          <td><%= item.try(:item_info) %></td>
          <td><%= item.try(:price)%>円</td>
          <td><%= item.try(:stock) %></td>
           <td><%= link_to "カートに入れる",  carts_path(cart_item: {cart_id: @cart.id, item_id: item.id, cart_item_count: 10}), method: :post do %>
           </td>
        </tr>
      </tbody>
      <% end %>
    </table>
 </div>
</div>