<div class="mt-2">
<table class="table table-hover">
     <thead>
      <tr>
        <th scope="col">アーティスト名</th>
        <th scope="col">タイトル</th>
        <th scope="col">情報</th>
        <th scope="col">価格</th>
        <th scope="col">在庫</th>
        <th scope="col">カートに入れる</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <% if @item.image.present? %>
        <%= image_tag @item.image.thumb.url,size: "100x100" %>
            <% else %>
          <%= image_tag "no-image.png", size: "100x100" %>
            <% end %>
        </td>

        <td>
		アーティスト名:<%= @item.artist_name %>
	</td>
	<td>
		アルバム名:<%= @item.item_name %>
	</td>
	<td>
		情報:<%= @item.item_info %>
	</td>
	<td>
		価格:<%= @item.price %>円
	</td>
	<td>
		在庫:<%= @item.stock %>枚
	</td>
    <td>
    <%= render "form", cart_item: @cart_item, item: @item %>
  </td>
      </tr>
    </tbody>
</table>
</div>

<%= link_to "商品一覧へ", items_path,class: "btn btn-info" %>