<div class="mt-5">
<%= form_for @order, url: admins_order_path, method: :patch do |a| %>
	<div class="form-group">
		<%= a.label :ユーザ名 %>
		<%= a.collection_select :user_id, User.all, :id, :name , :prompt => "選択してください",class: "form-control" %>
	</div>
	<div class="form-group">
		<%= a.label :送り先 %>
		<%= a.text_field :ship ,class: "form-control"%>
	</div>
	<div class="form-group">
		<%= a.label :ステータス %>
    <%= a.select :status, Order.statuses_i18n.keys.map {|k| [Order.statuses_i18n[k], k]} %>
        </div>
	<%= a.submit "完了する", class: "btn btn-info mt-5" %>
<% end %>
</div>